.showtimes .showtime .purchase.showtime-room,
.showtimes .purchase.showtime-room {
  text-transform: uppercase;
}

.showtime-add-to-calendar {
  display: block;
  height: 100%;
  min-width: 48px;
  margin-left: 1em;
}
