.showtime-add-to-calendar {
  display: inline-block;
  min-height: 48px;
  min-width: 48px;
  margin-left: 0;
  margin-right: 0;
}

.showtime-add-to-calendar img {
  opacity: 1;
}

@media (max-width: 1460px) and (min-width: 990px) {
  .showtime-add-to-calendar {
    margin-right: 25px;
  }
}

.music-box-planner-loading {
  background-size: contain;
  background-repeat: no-repeat;
}


.showtime-add-to-calendar.music-box-planner-loading img {
  opacity: 0.3;
}

.mb-planner-calendar {
  display: inline-block;
  text-align: left;
}

.mb-planner-calendar.music-box-planner-loading {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 45px;
  padding-right: 50px;
}

/* Mimic styled inputs for month/date/datetime elements */
input.showtimes-calendar,
.showtimes-calendar {
  /*
  background-clip: padding-box;
  background-color: rgba(0, 0, 0);
  background-image: url(https://musicboxtheatre.com/themes/custom/mb_theatre/images/icons/select-arrow.svg);
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  border-style: solid;
  border-color: rgb(242, 199, 92);
  color: #F2C75C;
  font-family: interstate, sans-serif;
  font-size: 25.6px;
  font-weight: 800;
  min-width: 80px;
  position: relative;
  */
}
