.showtime-add-to-calendar {
  display: inline-block;
  min-height: 48px;
  min-width: 48px;
  margin-left: 0;
  margin-right: 0;
}

.showtime-add-to-calendar img {
  opacity: 1;
}

@media (max-width: 1460px) and (min-width: 990px) {
  .showtime-add-to-calendar {
    margin-right: 25px;
  }
}

.music-box-planner-loading {
  background-size: contain;
  background-repeat: no-repeat;
}


.showtime-add-to-calendar.music-box-planner-loading img {
  opacity: 0.3;
}

.mb-planner-calendar {
  display: inline-block;
  text-align: left;
}

.mb-planner-calendar.music-box-planner-loading {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 45px;
  padding-right: 50px;
}

/* Mimic styled inputs for month/date/datetime elements */
#calendar-icon {
  display: none;
}

.showtimes-calendar {
  padding-bottom: 1.25em;
  position: relative;
}
.showtimes-calendar.form-item {
  margin: 0;
}

.showtimes-calendar::before {
  content: '';
  position: absolute;
  top: 0.3em;
  left: 0.65em;
  width: 1.5em;
  height: calc(100% - 2em);
  background-image: url(/themes/custom/mb_theatre/images/icons/calendar-select.svg);
  background-size: 100% auto;
  background-position: left center;
  background-repeat: no-repeat;
}

.showtimes-calendar select {
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
  white-space: break-spaces;
  line-height: 1.1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  position: relative;
}

#filters-and-sort .calendar-links .calendar-prev,
#filters-and-sort .calendar-links .calendar-next {
  display: none;
}
